block partials/layout
    a(href='/logout') Logout
    h1 User Page
    br
    h2 Welcome!
    br
    include partials/header.ejs

    //-link to the footer.pug file in the partials folder in views
    include partials/footer